// Latest compiled and minified CSS
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
// Optional theme
link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
// jquery cdn
script(src='/javascripts/jquery.js')
// Latest compiled and minified JavaScript
script(src='/javascripts/bootstrap.js')
// custom css
link(rel='stylesheet', href='/stylesheets/custom.css')
// angular js cdn
script(src='/javascripts/angular.js')
// angular ui-router cdn
script(src='/javascripts/angular-ui-router.js')
// angular main file
script(src='/javascripts/app.js')
// angular controller file
script(src='/javascripts/controllers.js')

